<html xmlns:url="com.artnology.sgw.alerting.dispatch.XslTrackingHelper" xmlns:date="com.artnology.sgw.alerting.helper.XmlFunctions">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SpringerAlerts Profile</title>
</head>
<body>
<table bgcolor="#E7E8E3" cellpadding="0" cellspacing="0" width="640" border="0">
<tr>
<td colspan="3"><img width="640" height="136" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-664959-0"></td>
</tr>
<tr height="40">
<td width="7"></td><td><font color="#003366" face="Times New Roman" size="5"><i>
                                Your SpringerAlerts Profile
                            </i></font></td><td align="right">
<table cellpadding="0" cellspacing="0" width="120" height="17">
<tr>
<td bgcolor="white" align="center"><font size="1">15.04.2015</font></td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="3">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="7"></td><td width="626" bgcolor="white">
<table bgcolor="white" cellpadding="5" cellspacing="0" border="0" width="626">
<tr>
<td align="right"><font face="Arial" size="1" color="#5c5b5b">visit us at <a href="www.springer.com?wt_mc=event.Alerts.Subscription?trackthis=schildema"><font face="Arial" size="1" color="#333333">springer.com</font></a></font></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="4"></td><td><img width="618" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665059-0"></td><td width="4"></td>
</tr>
</table>
</td>
</tr>
</table>
<table width="626" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3" height="15"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#035289" face="Times New Roman" size="5">Welcome</font></td><td width="26"></td>
</tr>
<tr>
<td colspan="3" height="3"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="4"></td><td><img width="618" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665059-0"></td><td width="4"></td>
</tr>
</table>
</td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3" height="22"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="2">Dear SpringerAlerts Subscriber,</font></td><td width="26"></td>
</tr>
<tr>
<td colspan="3" height="22"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="2">
                                Thank you for subscribing to SpringerAlerts. This email lists your complete profile information
                                 (except for your password). We recommend that you keep a record of this email for future reference.
                            </font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="15"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="2">
                               Please note, that Springer is using the following sender addresses:
                               <ul>
<li>SpringerAlerts@springeronline.com</li>
<li>springer@alerts.springer.com</li>
</ul>
                               To make sure that you will receive all SpringerAlerts emails
                               adjust your SPAM filter or instruct your IT department.
                             </font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="15"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="2">
                                  To modify your subscription use
                                  <a href="http://springer.com/alertprofile?wt_mc=event.Alerts.Subscription?trackthis=schildema"><font face="Arial" color="#5c5b5b">
                                           springer.com/alertprofile
                                       </font></a>
 and log in with your user name and password.
                                   <br>
                                   To unsubscribe use the link:
<a href="http://localhost:8080/tocUnsubscribe.jsp?email=adsdasdsa@asdsad.de&amp;checkval=6cb%0A234c99b976e847b850eb8c0883403?trackthis=schildema"><font face="Arial" color="#5c5b5b">
                                           unsubscribe
                                       </font></a></font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="15"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="2">
                                            With best regards,
                                        </font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="22"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="2">
                                             Your SpringerAlerts team
                                             <br>
<a href="mailto:customerservice@springer.com"><font face="Arial" color="#5c5b5b">
                                                    customerservice@springer.com
                                                </font></a></font></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="2" height="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="2" height="8"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#035289" face="Times New Roman" size="4">
                                            Your Account Data
                                        </font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="8"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Username</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">adsdasdsa@asdsad.de</font></td>
</tr>
</table>
</td><td valign="top">
<table width="37" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>
</tr>
</table>
</td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Email address</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">adsdasdsa@asdsad.de</font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Password</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
													To assign a password to your new account
													<a href="https://www.springer.com/pwforgotten/?email=debois@itu.dk&amp;validTo=1424983904741&amp;hash=689947faff69e745b7aabb5027a6f7b5671a3579c037b244ebbab6e9ae12c9667ec2fd37a063a9fbe4bf67219e1719289d21c41fa8691b7994f6b655b5740927">
														click this link
													</a></font></td>
</tr>
</table>
</td><td valign="top">
<table width="37" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>
</tr>
</table>
</td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b></b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2"></font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="2" height="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="2" height="8"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#035289" face="Times New Roman" size="4">
                                                Your Personal Data
                                            </font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="8"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Place of work (or institution)</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2"> </font></td>
</tr>
</table>
</td><td valign="top">
<table width="37" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>
</tr>
</table>
</td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Publication language</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">English,&nbsp;German</font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Email format</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2"></font></td>
</tr>
</table>
</td><td valign="top">
<table width="37" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>
</tr>
</table>
</td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b></b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2"></font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="2" height="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="2" height="8"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#035289" face="Times New Roman" size="4">
                                                SpringerAlerts Email Services
                                            </font></td><td width="26"></td>
</tr>
<tr>
<td colspan="2" height="8"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Table of contents alerts for journals</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Cultural Studies of Science Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Educational Research for Policy and Practice</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Frontiers of Education in China</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Higher Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Innovative Higher Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Instructional Science</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Interchange</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">International Journal for Educational and Vocational Guidance</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">International Journal for the Advancement of Counselling</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">International Journal of Education and Religion</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">International Journal of Technology and Design Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">International Review of Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Learning Environments Research</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Minerva</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">PROSPECTS</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Research in Higher Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Social Psychology of Education</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">The Urban Review</font></td>
</tr>
</table>
</td><td valign="top">
<table width="37" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>
</tr>
</table>
</td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Table of contents alerts for book series</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Advances in Soft Computing</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">IFIP International Federation for Information Processing</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Lecture Notes in Applied and Computational Mechanics</font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>New Book Alert profile</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Computeranwendungen in der Medizin</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Epidemiologie</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Gesundheitsforschung</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Gesundheitsschutz bei Mutter und Kind</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Gesundheitsvorsorge / Prophylaxe</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Gesundheitswesen</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Verwaltung und Organisation im Gesundheitswesen</font></td>
</tr>
</table>
</td><td valign="top">
<table width="37" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td></td>
</tr>
</table>
</td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b></b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td></td>
</tr>
<tr>
<td height="7"></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="4"></td><td><img width="618" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665059-0"></td><td width="4"></td>
</tr>
</table>
</td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td align="left">
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td><font color="#5c5b5b" face="Times New Roman" size="4"><b>Visit other Springer Sites</b></font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
<tr>
<td width="26"></td><td>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="10"></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
<tr>
<td width="26"></td><td>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<ul>
<li>
<font face="Arial" size="2" color="#5c5b5b"><a href="http://link.springer.com?trackthis=schildema"><font color="#5c5b5b">SpringerLink</font></a>
: Look inside our eJournals and eBooks
                                                            </font>
</li>
<li>
<font face="Arial" size="2" color="#5c5b5b"><a href="http://www.springerimages.com?trackthis=schildema"><font color="#5c5b5b">SpringerImages</font></a>
: Find all graphics of our publications
                                                            </font>
</li>
<li>
<font face="Arial" size="2" color="#5c5b5b"><a href="http://www.springerprotocols.com?trackthis=schildema"><font color="#5c5b5b">SpringerProtocols</font></a>
: Database of reproducible protocols in life &amp; biomedical sciences
                                                            </font>
</li>
<li>
<font face="Arial" size="2" color="#5c5b5b"><a href="http://www.springermaterials.com?trackthis=schildema"><font color="#5c5b5b">SpringerMaterials</font></a>
: Numerical data &amp; functional relationships in science &amp; technology
                                                            </font>
</li>
</ul>
</td>
</tr>
</table>
</td><td width="26"></td>
</tr>
</table>
<table bgcolor="#E7E8E3" cellpadding="10" cellspacing="10" border="0">
<tr>
<td bgcolor="#E7E8E3" align="middle" width="0"><font color="#035289" face="Times New Roman" style="font-size: 18px">Congratulations! Your $5 Gift Card for The Springer Shop</font></td>
</tr>
<tr>
<td bgcolor="#E7E8E3" width="618" align="middle"><font color="#5c5b5b" face="Arial" size="2">Thank you for your interest in Springer.
									Discover our vast selection of 200,000 print and eBooks in the Springer Shop and save $5 on your next eBook purchase until 12/31/2015.</font>
<br>
<br>
<font color="#5c5b5b" face="Arial" style="font-size: 18px"><a href="http://www.springer.com/?SGWID=0-102-12-1016148-0&amp;wt_mc=Email.Event.3.EPR868.AlertConfirmation-EN&amp;token=alert"><u>Redeem $5 Gift Card now!</u></a>
<br>
</font></td>
</tr>
</table>
<table bgcolor="#E7E8E3" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15" width="626"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="5"></td>
</tr>
<tr>
<td width="26"></td><td><font color="#333333" face="Times New Roman, serif" size="4">
                            Service Contacts
                </font></td><td width="26"></td>
</tr>
<tr>
<td height="5"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="3">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="4"></td><td><img width="618" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665059-0"></td><td width="4"></td>
</tr>
</table>
</td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspna="3" height="15"></td>
</tr>
<tr>
<td width="35"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Springer Customer Service Center</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">Haberstr. 7</font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                        69129 Heidelberg
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                        Germany
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                        phone: +49 6221 345 0
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                        fax: +49 6221 345 4229
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                        email:
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2"><a href="mailto:customerservice@springer.com"><font color="#5c5b5b">customerservice@springer.com</font></a></font></td>
</tr>
</table>
</td><td width="37" valign="top"></td><td valign="top">
<table width="260" bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="260"><font color="#5c5b5b" face="Times New Roman" size="3"><b>Springer New York, LLC</b></font></td>
</tr>
<tr>
<td height="1"></td>
</tr>
<tr>
<td><img width="260" height="1" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665060-0"></td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                 233 Spring Street
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                 New York, NY 10013
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                USA
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                  phone: +1 212 460 1500 or 800-SPRINGER
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                (Weekdays 8:30am - 5:30pm ET)
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                  fax: +1 212-460-1700
                            </font></td>
</tr>
<tr>
<td width="260"><font color="#5c5b5b" face="Arial" size="2">
                                email:
                                <a href="mailto:customerservice@springer.com"><font color="#5c5b5b">
                                        customerservice@springer.com
                                    </font></a></font></td>
</tr>
</table>
</td><td width="26"></td>
</tr>
<tr>
<td colspan="3" height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><img width="576" height="3" src="http://www.springer.com/cda/content/image/cda_displayimage.jpg?SGWID=0-0-16-665559-0"></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="26"></td><td><font color="#5c5b5b" face="Arial" size="1">
                                  &copy; Springer 2015, springer.com
                             </font></td><td width="26"></td>
</tr>
</table>
<table bgcolor="white" cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="15"></td>
</tr>
</table>
</td><td width="7"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="15" colspan="3"></td>
</tr>
</table>
<img src="DUMMY_IMAGE_LINK" width="1" height="1"></body>
</html>
